# General module owners
* @thunderbird/mobile-ios-reviewers

# Release Engineering
/.github/ @thunderbird/build-release
/docs/ci/ @thunderbird/build-release
/CI/ @thunderbird/build-release

# CODEOWNERS protection
/.github/CODEOWNERS @kewisch
