# Run tests and analyze builds

name: Xcode Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: macos-26
    env:
      DEVICE: "iPhone 17"

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0

      - name: Resolve package dependencies
        run: |
          xcodebuild -resolvePackageDependencies \
            -workspace Thunderbird.xcworkspace \
            -scheme Thunderbird

      - name: Build and analyze
        run: |
          xcodebuild clean build analyze \
            -workspace Thunderbird.xcworkspace \
            -scheme Thunderbird \
            -sdk iphonesimulator \
            -destination "platform=iOS Simulator,name=${DEVICE}"

      - name: List available simulators
        run: xcrun simctl list devices

      - name: Boot simulator
        uses: nick-invision/retry@v3
        with:
          timeout_minutes: 5
          max_attempts: 5
          retry_wait_seconds: 15
          command: |
            set -x
            echo "Booting ${DEVICE} simulator..."
            xcrun simctl shutdown "${DEVICE}" || true
            xcrun simctl boot "${DEVICE}" || true
            xcrun simctl bootstatus "${DEVICE}" -b
            echo "Simulator booted and ready."

      - name: Run tests
        uses: nick-invision/retry@v3
        with:
          timeout_minutes: 15
          max_attempts: 3
          retry_wait_seconds: 15
          command: |
            echo "Running tests in ${DEVICE} simulator..."
            xcodebuild test \
              -workspace Thunderbird.xcworkspace \
              -scheme ThunderbirdTests \
              -sdk iphonesimulator \
              -destination "platform=iOS Simulator,name=${DEVICE}"

      - name: Archive (Release, unsigned)
        run: |
          xcodebuild clean archive \
            -workspace Thunderbird.xcworkspace \
            -scheme Thunderbird \
            -sdk iphoneos \
            -configuration Release \
            -destination 'generic/platform=iOS' \
            -archivePath build/Thunderbird.xcarchive \
            CODE_SIGNING_ALLOWED=NO
